<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div>
	<h1>
		<span data-lfr-editable-id="topQuote" data-lfr-editable-type="text">
			Raising generations</span> <br/>
	
		<span data-lfr-editable-id="bottomQuote" data-lfr-editable-type="text">of</span> 
		<span id="differentColor" data-lfr-editable-id="differentColor" data-lfr-editable-type="text">CHRIST</span> 
		<span data-lfr-editable-id="bottomQuote2" data-lfr-editable-type="text">followers</span> <br>
	<span id="whoBleed" data-lfr-editable-id="brandColor1" data-lfr-editable-type="text">who bleed</span> 
	<span id="Bibline" data-lfr-editable-id="brandColor3" data-lfr-editable-type="text">BIBLINE</span> <br>
</h1>
</div>