<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="row">
  <div class="column">
    <li class="pulse">
      <img alt="" class="header-logo" data-lfr-editable-id="imageLogo1" data-lfr-editable-type="image"/>
      <p class="subtitle" data-lfr-editable-id="text1" data-lfr-editable-type="text">info</p>
    </li>
  </div>
  <div class="column">
    <li class="pulse">
      <img alt="" class="header-logo" data-lfr-editable-id="imageLogo2" data-lfr-editable-type="image"/>
      <p class="subtitle" data-lfr-editable-id="text2" data-lfr-editable-type="text">info</p>
    </li>
  </div>
  <div class="column">
    <li class="pulse">
      <img  alt="" class="header-logo" data-lfr-editable-id="imageLogo3" data-lfr-editable-type="image"/>
       <p class="subtitle" data-lfr-editable-id="text3" data-lfr-editable-type="text">info</p>
    </li>
</div>
</div>