<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="myHeader">
	<div class="logo">
	<img alt="" class="header-logo" data-lfr-editable-id="imageLogo" data-lfr-editable-type="image" src="[resources:biblineLogo.png]"/>
</div>
<div class="menu">
	<ul>
				<li>
					<p class="button" data-lfr-editable-id="button1" data-lfr-editable-type="text">Invest</p>
				</li>
				<li>
					<p class="button" data-lfr-editable-id="button2" data-lfr-editable-type="text">Sign In</p>
				</li>
				<li>
					<p class="button" data-lfr-editable-id="button3" data-lfr-editable-type="text">About Us</p>
				</li>
			</ul>
</div>
</div>